body {
    background-color: rgb(48, 44, 44);
    color:rgb(182, 192, 182);
    font-family: sans-serif;
    margin: 0;
}
.flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.grid-container {
    border: 1px solid red;
    display: grid;
    height: 500px;
    grid-template-columns: 200px 100px 100px;
    grid-template-rows: 100px 80px;

    justify-content: center; /*w poziomie*/
    align-content: center; /*w pionie*/

    justify-items: center;
    align-items: center;


}

.item {
    margin: 5px;
    border: 1px solid rgb(152, 148, 148);
}

.center {
    align-self: stretch;
    justify-self: stretch;

    /* display: flex;
    justify-content: center;
    align-items: center; */
}